<div *ngIf="!film">
    <div class="spinner1"></div>
</div>

<div *ngIf="film" class="container pt-2">

    <div class="col-sm-12 film-container">
        
        <div class="d-sm-inline-block d-md-flex justify-content-between film-body mt-3">

            <img class="img-poster-single mb-4" src="{{film.poster_path}}"/>
    
            <div class="d-block ml-4">
    
                <div class="mb-4">
                    <h3>Star Wars: {{ film.title }}</h3>
                    <h5>Episode {{ film.episode_id | romanNumeral}}</h5>
                </div>

                <hr class="border-bottom border-lightsaber" />
    
                <em class="text-warning">{{ film.opening_crawl }}</em>
            
                <h6 class="mt-3"><span class="text-secondary">Director:</span> {{ film.director }}</h6>
    
                <p class="mb-5"><span class="text-secondary">Released:</span> {{film.release_date | date}}</p>
    
                <div>
    
                    <button type="button" data-toggle="modal" [attr.data-target]="'#trailer_modal_' + film.episode_id" class="space-btn d-block">Watch the Trailer</button>
    
                </div>

            </div>
        </div>

        <div [attr.id]="'trailer_modal_' + film.episode_id" class="modal fade video-trailer" tabindex="-1" role="dialog" aria-labelledby="lblModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <iframe width="560" height="315" [src]="film.trailerUrl | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12 film-container mb-5">

        <div class="d-block p-2">

            <div class="border-bottom w-auto">
                <h4 class="text-light">Images</h4>
            </div>

            <img class="img-lg" [src]="film.backdrop_path | safe" alt="Main Image">

            <hr class="border-bottom">

            <div class="d-flex justify-content-center">

                <img class="img-poster-single" [src]="film.poster_path | safe" alt="Poster Image">

            </div>

        </div>

    </div>
</div>