<div *ngIf="!starship">
    <div class="spinner1"></div>
</div>

<div *ngIf="starship" class="container pt-2">

    <div class="col-sm-12 film-container">
        
        <div class="d-sm-inline-block d-md-flex film-body mt-3">

            <img class="img-poster-single mb-4" src="../../../assets/assets_dictionary/starship_dictionary/{{starship.name}}.jpeg"/>
    
            <div class="d-block ml-4">
    
                <div class="mb-4 text-light">
                    <h3>{{ starship.name }}</h3>
                </div>

                <hr class="border-bottom border-lightsaber" />
            
                <h5>
                    <span class="text-secondary">Model: </span>
                    <span class="text-light">{{ starship.model | titlecase}}</span>
                </h5>

                <h6>
                    <span class="text-secondary">Manufacturer: </span>
                    <span class="text-light">{{ starship.manufacturer }}</span>
                </h6>

                <h6>
                    <span class="text-secondary">Cost: </span>

                    <span *ngIf="starship.cost_in_credits !== 'unknown'; else unknown_cost">
                        <span class="text-light">{{ starship.cost_in_credits }} Credits</span>
                    </span>

                    <ng-template #unknown_cost>Unknown</ng-template>
                </h6>
                
                <h6>
                    <span class="text-secondary">Passangers: </span>
                    <span class="text-light">{{ starship.passengers }}</span>
                </h6>

                <h6>
                    <span class="text-secondary">Cargo Capacity: </span>
                    <span class="text-light">{{ starship.cargo_capacity }}</span>
                </h6>

                <h6>
                    <span class="text-secondary d-block">Pilots:</span>

                    <span class="text-light" *ngIf="starship.pilots_obj">
                        <span *ngIf="starship.pilots_obj.length > 0; else no_pilots">

                            <a [routerLink]="['/people', pilot.id]" class="d-block mt-1" *ngFor="let pilot of starship.pilots_obj">
                                <span>{{ pilot.name }}</span>
                            </a>

                        </span>

                        <ng-template #no_pilots>N/D</ng-template>

                    </span>
                </h6>

                <h6>
                    <span class="text-secondary d-block">Appears in:</span>

                    <span class="text-light" *ngIf="starship.films_obj">
                        <a [routerLink]="['/films', film.id]" class="d-block mt-1" *ngFor="let film of starship.films_obj">
                            Star Wars Episode {{ film.episode_id | romanNumeral }}: {{ film.title }}
                        </a>
                    </span>
                </h6>

            </div>
        </div>

    </div>
</div>