<div *ngIf="!specie">
    <div class="spinner1"></div>
</div>

<div *ngIf="specie" class="container pt-2">

    <div class="col-sm-12 film-container">
        
        <div class="d-sm-inline-block d-md-flex film-body mt-3">

            <img class="img-poster-single mb-4" src="../../../assets/assets_dictionary/species_dictionary/{{specie.name}}.jpeg"/>
    
            <div class="d-block ml-4">
    
                <div class="mb-4 text-light">
                    <h3>{{ specie.name }}</h3>
                </div>

                <hr class="border-bottom border-lightsaber" />
            
                <h6>
                    <span class="text-secondary">Classification: </span>
                    <span class="text-light">{{ specie.classification | titlecase }}</span>
                </h6>

                <h6>
                    <span class="text-secondary">Language: </span>
                    <span class="text-light">{{ specie.language | titlecase}}</span>
                </h6>

                <h6>
                    <span class="text-secondary d-block">People:</span>

                    <span class="text-light" *ngIf="specie.people_obj">
                        <span *ngIf="specie.people_obj.length > 0; else no_residents">

                            <a [routerLink]="['/people', resident.id]" class="d-block mt-1" *ngFor="let resident of specie.people_obj">
                                <span>{{ resident.name }}</span>
                            </a>

                        </span>

                        <ng-template #no_residents>N/D</ng-template>

                    </span>
                </h6>

                <h6>
                    <span class="text-secondary d-block">Appears in:</span>

                    <span class="text-light" *ngIf="specie.films_obj">
                        <a [routerLink]="['/films', film.id]" class="d-block mt-1" *ngFor="let film of specie.films_obj">
                            Star Wars Episode {{ film.episode_id | romanNumeral }}: {{ film.title }}
                        </a>
                    </span>
                </h6>

            </div>
        </div>

    </div>
</div>