<div>
    <nav class="navbar shadow w-100">
        <div class="d-sm-inline-block d-md-flex justify-content-between align-items-middle" style="width: 100%;">

            <a class="nav-logo text-md-left text-sm-center" routerLink="/films"><h3>STAR WARS</h3></a>

            <ul class="text-md-right text-sm-center">
                <a routerLink="/films" routerLinkActive="active" class="nav-item d-sm-block d-md-inline-block"><li>films</li></a>
                <a routerLink="/people" routerLinkActive="active" class="nav-item d-sm-block d-md-inline-block"><li>people</li></a>
                <a routerLink="/planets" routerLinkActive="active" class="nav-item d-sm-block d-md-inline-block"><li>planets</li></a>
                <a routerLink="/species" routerLinkActive="active" class="nav-item d-sm-block d-md-inline-block"><li>species</li></a>
                <a routerLink="/vehicles" routerLinkActive="active" class="nav-item d-sm-block d-md-inline-block"><li>vehicles</li></a>
                <a routerLink="/starships" routerLinkActive="active" class="nav-item d-sm-block d-md-inline-block"><li>starships</li></a>
            </ul>

        </div>

    </nav>
</div>