@font-face{font-family:star jedi;font-style:normal;font-weight:400;src:local('Star Jedi'),local('StarJedi-Regular'),url("../../../assets/star-jedi_108a0c1f596b5c0a80628b4566a9f336.woff") format('woff'),url("../../../assets/star-jedi_108a0c1f596b5c0a80628b4566a9f336.ttf") format('truetype')}

nav {
    font-family: 'Star Jedi', arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
    background-color: black;
    font-weight: bold;
    z-index: 3;
    background: url('../../../assets/images/nav-bg.jpg') no-repeat center;
    background-size: 100%;
    border-bottom: 3px solid #FFE81F;
}

.nav-logo {
    margin-right: none;
    margin-left: 1rem;
}

nav h3 {
    color:#FFE81F;
}

.nav-item {
    text-decoration: none;
    color: aliceblue;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.nav-item:hover, .nav-item:focus {
    color: #FFE81F;
    border-bottom: 2px solid #FFE81F;
}

a.active {
    color: #FFE81F;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    margin: 0 .5rem;
    font-size: 1.3rem;
}