<div *ngIf="!vehicles">
    <div class="spinner1"></div>
</div>

<div class="container pt-5" *ngIf="vehicles">

    <div class="mt-4 mb-4 justify-content-center" *ngFor="let vehicle of vehicles">

        <div class="card justify-content-center bg-dark text-light">
            
            <a class="card-header-link w-100" title="Go to vehicle" [routerLink]="['/vehicles', vehicle.id]"><div class="card-header">{{ vehicle.name }}</div></a>

            <div class="card-body d-inline-flex w-75">
                
                <a [routerLink]="['/vehicles', vehicle.id]" class="img-link d-inline-flex w-50"> 
                    <img class="img-poster d-inline-table" src="../../../assets/assets_dictionary/vehicles_dictionary/{{vehicle.name}}.jpeg"/>
                </a>

                <div class="d-inline ml-4">

                    <h4>
                        <a [routerLink]="['/vehicles', vehicle.id]">{{ vehicle.name | titlecase}}</a>
                    </h4>

                    <h5>
                        <span class="text-secondary">Model: </span>
                        <span class="text-light">{{ vehicle.model | titlecase}}</span>
                    </h5>

                    <h6>
                        <span class="text-secondary">Manufacturer: </span>
                        <span class="text-light">{{ vehicle.manufacturer | titlecase}}</span>
                    </h6>

                    <h6>
                        <span class="text-secondary">Cost: </span>

                        <span *ngIf="vehicle.cost_in_credits !== 'unknown'; else unknown_cost">
                            <span class="text-light">{{ vehicle.cost_in_credits }} Credits</span>
                        </span>

                        <ng-template #unknown_cost>Unknown</ng-template>
                    </h6>

                    <h6>
                        <span class="text-secondary d-block">Pilots:</span>

                        <span class="text-light" *ngIf="vehicle.pilots_obj">
                            <span *ngIf="vehicle.pilots_obj.length > 0; else no_pilots">

                                <a [routerLink]="['/people', pilot.id]" class="d-block mt-1" *ngFor="let pilot of vehicle.pilots_obj">
                                    <span>{{ pilot.name }}</span>
                                </a>

                            </span>

                            <ng-template #no_pilots>N/D</ng-template>
                        </span>
                    </h6>

                    <h6>
                        <span class="text-secondary d-block">Appears in:</span>

                        <span class="text-light" *ngIf="vehicle.films_obj">
                            <a [routerLink]="['/films', film.id]" class="d-block mt-1" *ngFor="let film of vehicle.films_obj">
                                Star Wars Episode {{ film.episode_id | romanNumeral }}: {{ film.title }}
                            </a>
                        </span>
                    </h6>

                </div>
        
            </div>
        </div>    
    </div>
</div>