<div *ngIf="!person">
    <div class="spinner1"></div>
</div>

<div *ngIf="person" class="container pt-2">

    <div class="col-sm-12 film-container">
        
        <div class="d-sm-inline-block d-md-flex film-body mt-3">

            <img class="img-poster-single mb-4" src="../../../assets/assets_dictionary/people_dictionary/{{person.name}}.jpeg"/>
    
            <div class="d-block ml-4">
    
                <div class="mb-4 text-light">
                    <h3>{{ person.name }}</h3>
                </div>

                <hr class="border-bottom border-lightsaber" />
            
                <h6 class="mt-3 text-light"><span class="text-secondary">Birth Year:</span> {{ person.birth_year }}</h6>
    
                <p class="text-light"><span class="text-secondary">Gender:</span> {{person.gender | titlecase}}</p>

                <p class="text-light"><span class="text-secondary">Hair Color:</span> {{person.hair_color | titlecase}}</p>
    
                <p class="text-light"><span class="text-secondary">Height:</span> {{person.height / 100}} m</p>

                <p class="text-light"><span class="text-secondary">Weight:</span> {{person.mass}} Kg</p>

                <p class="text-light"><span class="text-secondary">Skin Color:</span> {{person.skin_color | titlecase}}</p>

                <h6>
                    <span class="text-secondary d-block">Appears in:</span>

                    <span class="text-light" *ngIf="person.films_obj">
                        <a [routerLink]="['/films', film.id]" class="d-block mt-1" *ngFor="let film of person.films_obj">
                            Star Wars Episode {{ film.episode_id | romanNumeral }}: {{ film.title }}
                        </a>
                    </span>
                </h6>

            </div>
        </div>

    </div>
</div>