<div *ngIf="!planets">
    <div class="spinner1"></div>
</div>

<div class="container pt-5" *ngIf="planets">

    <div class="mt-4 mb-4 justify-content-center" *ngFor="let planet of planets">

        <div class="card justify-content-center bg-dark text-light">
            
            <a class="card-header-link w-100" title="Go to planet" [routerLink]="['/planets', planet.id]"><div class="card-header">{{ planet.name }}</div></a>

            <div class="card-body d-inline-flex w-75">
                
                <a [routerLink]="['/planets', planet.id]" class="img-link d-inline-flex w-50"> 
                    <img class="img-poster d-inline-table" src="../../../assets/assets_dictionary/planets_dictionary/{{planet.name}}.jpeg"/>
                </a>

                <div class="d-inline ml-4">

                    <h4>
                        <a [routerLink]="['/planets', planet.id]">{{ planet.name }}</a>
                    </h4>

                    <h6>
                        <span class="text-secondary">Population: </span>
                        <span class="text-light">{{ planet.population }}</span>
                    </h6>

                    <h6>
                        <span class="text-secondary">Terrain: </span>
                        <span class="text-light">{{ planet.terrain | titlecase }}</span>
                    </h6>

                    <h6>
                        <span class="text-secondary d-block">Residents:</span>

                        <span class="text-light" *ngIf="planet.people_obj">
                            <span *ngIf="planet.people_obj.length > 0; else no_residents">

                                <a [routerLink]="['/people', resident.id]" class="d-block mt-1" *ngFor="let resident of planet.people_obj">
                                    <span>{{ resident.name }}</span>
                                </a>

                            </span>

                            <ng-template #no_residents>N/D</ng-template>

                        </span>
                    </h6>

                    <h6>
                        <span class="text-secondary d-block">Appears in:</span>

                        <span class="text-light" *ngIf="planet.films_obj">
                            <a [routerLink]="['/films', film.id]" class="d-block mt-1" *ngFor="let film of planet.films_obj">
                                Star Wars Episode {{ film.episode_id | romanNumeral }}: {{ film.title }}
                            </a>
                        </span>
                    </h6>

                </div>
        
            </div>
        </div>    
    </div>
</div>