<div *ngIf="!films">
    <div class="spinner1"></div>
</div>

<div class="container pt-5" *ngIf="films">

    <div class="mt-4 mb-5 d-inline-block justify-content-center" *ngFor="let film of films">
        <div class="card bg-dark text-light m-1">
            
            <a class="card-header-link" title="Go to film" [routerLink]="['/films', film.id]"><div class="card-header">Episode {{ film.episode_id | romanNumeral }} - {{ film.title }}</div></a>

            <div class="card-body">
                
                <div class="d-sm-inline-block d-md-flex justify-content-between">

                    <a class="img-link" title="Go to film" [routerLink]="['/films', film.id]"><img class="img-poster" src="{{film.poster_path}}"/></a>

                    <div class="d-block ml-4">
                        <h6 class="mb-4"><span class="text-secondary">Director:</span> {{ film.director }}</h6>

                        <em>{{ (film.opening_crawl | slice:0:300) + '...' }}
                            <a [routerLink]="['/films', film.id]" class="ml-3 link-cnt-read">Continue Reading</a>
                        </em>
                    
                        <div class="h-50 d-flex align-items-end">

                            <p><span class="text-secondary">Released: </span>{{film.release_date | date}}</p>

                        </div>
                    </div>
        
                </div>
        
            </div>
        </div>    
    </div>
</div>