<div *ngIf="!people">
    <div class="spinner1"></div>
</div>

<div class="container pt-5" *ngIf="people">

    <div class="mt-4 mb-4 justify-content-center" *ngFor="let person of people">

        <div class="card justify-content-center bg-dark text-light">
            
            <a class="card-header-link w-100" title="Go to person" [routerLink]="['/people', person.id]"><div class="card-header">{{person.name}}</div></a>

            <div class="card-body d-flex">
                
                <img class="img-poster w-25" src="../../../assets/assets_dictionary/people_dictionary/{{person.name}}.jpeg"/>

                <div class="d-sm-inline-block d-md-flex">

                    <div class="d-block ml-4">
                        <h4>
                            <a [routerLink]="['/people', person.id]">{{ person.name }}</a>
                        </h4>

                        <h6>
                            <span class="text-secondary">Gender: </span>
                            <span class="text-light">{{ person.gender | titlecase }}</span>
                        </h6>

                        <h6>
                            <span class="text-secondary">Height: </span>
                            <span class="text-light">{{ person.height / 100 }}</span>
                        </h6>

                        <h6>
                            <span class="text-secondary d-block">Appears in:</span>

                            <span class="text-light" *ngIf="person.films_obj">
                                <a [routerLink]="['/films', film.id]" class="d-block mt-1" *ngFor="let film of person.films_obj">
                                    Star Wars Episode {{ film.episode_id | romanNumeral }}: {{ film.title }}
                                </a>
                            </span>
                        </h6>

                    </div>
        
                </div>
        
            </div>
        </div>    
    </div>
</div>