<div *ngIf="!species">
    <div class="spinner1"></div>
</div>

<div class="container pt-5" *ngIf="species">

    <div class="mt-4 mb-4 justify-content-center" *ngFor="let specie of species">

        <div class="card justify-content-center bg-dark text-light">
            
            <a class="card-header-link w-100" title="Go to specie" [routerLink]="['/species', specie.id]"><div class="card-header">{{specie.name}}</div></a>

            <div class="card-body d-inline-flex w-75 h-50">
                
                <a [routerLink]="['/species', specie.id]" class="img-link d-inline-flex w-50"> 
                    <img class="img-poster d-inline-table" src="../../../assets/assets_dictionary/species_dictionary/{{specie.name}}.jpeg"/>
                </a>

                <div class="d-sm-inline-block d-md-flex">

                    <div class="d-block ml-4">
                        <h4>
                            <a [routerLink]="['/species', specie.id]">{{ specie.name }}</a>
                        </h4>

                        <h6>
                            <span class="text-secondary">Classification: </span>
                            <span class="text-light">{{ specie.classification | titlecase }}</span>
                        </h6>

                        <h6>
                            <span class="text-secondary">Language: </span>
                            <span class="text-light">{{ specie.language | titlecase}}</span>
                        </h6>

                        <h6>
                            <span class="text-secondary d-block">Appears in:</span>

                            <span class="text-light" *ngIf="specie.films_obj">
                                <a [routerLink]="['/films', film.id]" class="d-block mt-1" *ngFor="let film of specie.films_obj">
                                    Star Wars Episode {{ film.episode_id | romanNumeral }}: {{ film.title }}
                                </a>
                            </span>
                        </h6>

                    </div>
        
                </div>
        
            </div>
        </div>    
    </div>
</div>