<div *ngIf="!planet">
    <div class="spinner1"></div>
</div>

<div *ngIf="planet" class="container pt-2">

    <div class="col-sm-12 film-container">
        
        <div class="d-sm-inline-block d-md-flex film-body mt-3">

            <img class="img-poster-single mb-4" src="../../../assets/assets_dictionary/planets_dictionary/{{planet.name}}.jpeg"/>
    
            <div class="d-block ml-4">
    
                <div class="mb-4 text-light">
                    <h3>{{ planet.name }}</h3>
                </div>

                <hr class="border-bottom border-lightsaber" />
            
                <h6 class="mt-3 text-light"><span class="text-secondary">Terrain:</span> {{ planet.terrain | titlecase }}</h6>
    
                <p class="text-light"><span class="text-secondary">Climate:</span> {{planet.climate | titlecase}}</p>

                <p class="text-light"><span class="text-secondary">Population:</span> {{planet.population | titlecase}}</p>

                <p class="text-light"><span class="text-secondary">Orbital Period:</span> {{planet.orbital_period}} Days</p>

                <p class="text-light"><span class="text-secondary">Rotation Period:</span> {{planet.rotation_period }} Hours</p>

                <p class="text-light"><span class="text-secondary">Gravity:</span> {{planet.gravity | titlecase}}</p>

                <h6>
                    <span class="text-secondary d-block">Residents:</span>

                    <span class="text-light" *ngIf="planet.people_obj">
                        <span *ngIf="planet.people_obj.length > 0; else no_residents">

                            <a [routerLink]="['/people', resident.id]" class="d-block mt-1" *ngFor="let resident of planet.people_obj">
                                <span>{{ resident.name }}</span>
                            </a>

                        </span>

                        <ng-template #no_residents>N/D</ng-template>

                    </span>
                </h6>

                <h6>
                    <span class="text-secondary d-block">Appears in:</span>

                    <span class="text-light" *ngIf="planet.films_obj">
                        <a [routerLink]="['/films', film.id]" class="d-block mt-1" *ngFor="let film of planet.films_obj">
                            Star Wars Episode {{ film.episode_id | romanNumeral }}: {{ film.title }}
                        </a>
                    </span>
                </h6>

            </div>
        </div>

    </div>
</div>