@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/images/nav-bg-opacity.png');
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center top !important;
    background-size: cover !important;
    font-family: 'Rajdhani', sans-serif;
}

a {
    text-decoration: none !important;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #FFE81F;
}

.space-btn {
    padding: 5px 25px;
    border: 1px solid #999999;
    display: inline-block;
    position: relative;
    background: url('./assets/images/btn-bg.jpg') no-repeat center;
    background-size: 200%;
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
    z-index: 2;
    transition: all 0.5s;
}

.space-btn:hover, .space-btn:focus {
    color: #FFE81F;
    border: 1px solid #FFE81F;
}

/* .space-btn:before, .space-btn:after {
    height: 25px;
    width: 25px;
    background: #343a40;
    position: absolute;
    content: '';
    z-index: 1;
}

.space-btn:before {
    top: 0;
    left: 0;
    border-right: 1px solid #999999;
    transform: rotate(49deg) translate(-71%);
}

.space-btn:after {
    bottom: 0;
    right: 0;
    border-left: 1px solid #999999;
    transform: rotate(49deg) translate(71%);
} */

.link-cnt-read {
    color: rgb(0, 153, 255);
    display: inline-block;
    width: auto;
    transition: all 0.3s;
}

.link-cnt-read:hover, .link-cnt-read:focus {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 
    0 0 20px rgb(105, 12, 255), 0 0 30px rgb(105, 12, 255), 0 0 40px rgb(105, 12, 255), 
    0 0 55px rgb(105, 12, 255), 0 0 20px rgb(105, 12, 255), 2px 2px 1px rgba(206,89,55,0);
    color: #FFFFFF;
    text-decoration: underline !important;
}

.img-link {
    display: flex;
    width: auto;
}

.img-link .img-poster {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: all 0.5s;
}

.img-poster-single {
    width: 30%;
    display: block;
    border: 10px solid #fff;
}

.img-link .img-poster:hover, .img-poster:focus {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(104,215,251,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(104,215,251,1);
    box-shadow: 0px 0px 10px 0px rgba(104,215,251,1);
}

.img-lg {
    width: 100%;
}

.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

.video-trailer {
    position: relative;
    top: 30%;
    transform: translateY(-90%);
}

.border-lightsaber {
    border-bottom: 2px solid red;
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 
    0 0 20px rgb(105, 12, 255), 0 0 30px rgb(105, 12, 255), 0 0 40px rgb(105, 12, 255), 
    0 0 55px rgb(105, 12, 255), 0 0 20px rgb(105, 12, 255), 2px 2px 1px rgba(206,89,55,0);
}

.card-header-link {
    color: #fff;
    border-bottom: 1.5px solid transparent;
}

.card-header-link:hover, .card-header-link:focus {
    background-color: #17191D;
    border-bottom: 1.5px solid #FFE81F;
}

.card-header-link:hover > *, .card-header-link:focus > * {
    color: #FFE81F;
}

.image {
position: relative;
}

.image img{
z-index: 2;
}

.pics{
text-align: center;
position: relative;
top: 0;
left: 0;
}

.pics .pic2{
position: absolute;
top: 10%;
left: 35%;
right: 35%;
bottom:30%;
}

.image::after {
position: absolute;
top:0;
left: 0;
right: 0;
bottom: 0;
content: '';
display: block;
background-image: linear-gradient(to top, #030303 5%, transparent 30%);
}

.image::before {
position: absolute;
top:0;
left: 0;
right: 0;
bottom: 0;
content: '';
display: block;
background-image: linear-gradient(to bottom, #030303 5%, transparent 30%);
}
  
.film-container {
background-color: rgba(15, 15, 15, 0.6);
margin-top: 2rem;
border-radius: 10px;
}

.film-header {
padding: .4rem .7rem;
color: white;
border-radius: 5px;
}

.film-body {
padding: .7rem;
color: white;
}

.spinner1::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-top: -30px;
    margin-left: -40px;
    border-radius: 50%;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    animation: spinner 1s linear infinite;
    animation-direction: alternate;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
        -webkit-box-shadow: 0px 0px 10px 0px rgb(226, 0, 0);
        -moz-box-shadow: 0px 0px 10px 0px rgb(226, 0, 0);
        box-shadow: 0px 0px 10px 0px rgb(226, 0, 0);
        border-top: 2px solid rgba(104, 215, 251, 1);
    }
}